@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  * {
    margin: 0;
  }
  
  body {
    @include flexCenter;
    text-align: center;
    height: 100vh;
    width: 100vw;
  }
  
  #container {
    @include flexCenter;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
  }
  
  #buttons {
    display: flex;
    gap: 5px;
  }
  
  #pTurn {
    background-color: rgba(255, 0, 0, 0.5);
  }
  
  button {
    height: 60px;
    width: 150px;
    border-radius: 75px;
    border: 1px solid black;
    font-size: 1em;
    &:hover {
      cursor: pointer;
    }
  }
  
  table {
    border: 1px solid black;
    margin: auto;
    
    th {
      padding: 20px;
      border: 1px solid black;
    }
      #p1 {
        text-decoration: underline;
        color: red;
      }
      
      #p2 {
        text-decoration: underline;
        color: blue;
      }
  }